html, body {
   margin: 0;
   scroll-padding-top: 8rem;
   font-size: 40px;

   --green: #076A67;
   --red: #FB7552;
   --bg: #011213;
}

p, button, a, h1, h2 {
   font-family: "sans-serif";
}
p {
   margin: 0;
}

body {
   width: 100%;
   min-height: 100vh;
   background: rgb(45,40,31);
   background: linear-gradient(135deg, #2d281f  0%, #161410 100%); 
   display: flex;
   align-items: center;
   justify-content: center;
}

main {
   width: 100%;
}

main {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 2rem;

   font-size: calc(15px + 0.390625vw);
}

h1, p {
   color: #f6efe1;
   text-align: center;
}

h1, p {
   width: 80%;
}

h1 {
   font-size: 1.8rem;
}

p {
   font-size: 1rem;
}

main > img {
   width: 50%;
   max-width: 400px;
}


#reseaux-container {
   display: flex;
   align-items: center;
   justify-content: space-around;

   width: 80%;
}

#reseaux-container img {
   height: 3rem;
}
